SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=https://songreq.finnkrause.com/api/spotify-callback
NEXT_PUBLIC_APP_URL=https://songreq.finnkrause.com
SONG_TIMEOUT=1800000 #30min

SPOTIFY_REFRESH_INTERVAL=5000
NEXT_PUBLIC_PLAYER_REFRESH=10000
MAX_REQESTED_SONGS=20