SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI= # example.yourdomain.com/api/spotify-callback
SPOTIFY_REFRESH_INTERVAL=5000 #seconds * 1000

NEXT_PUBLIC_APP_URL= # example.yourdomain.com


NEXT_PUBLIC_PLAYER_REFRESH=10000 #seconds * 1000
NEXT_MAX_REQUESTED_SONGS=20 #Max songs requested
NEXT_SONG_TIMEOUT= # minutes * 60 * 1000 